<mat-card class="vm-card">
  <mat-card-header>
    <mat-card-title matTooltip="{{ getLabelsTooltip(vm) }}" matTooltipClass="multiline-tooltip">
      {{ vm.name }}
    </mat-card-title>
    <mat-card-subtitle>IP: {{ vm.ip }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="assets/images/terminal.svg" alt="Terminal Icon" class="card-image" />

  <mat-card-content>
    <mat-chip [ngClass]="vm.state.toLocaleLowerCase()">
      {{ vm.state | uppercase }}
    </mat-chip>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button matTooltip="{{ 'START' | translate }}" aria-label="Start VM" (click)="start()"
      [disabled]="pollingAction === 'start'">
      <ng-container *ngIf="pollingAction !== 'start'; else loading">
        <mat-icon>play_arrow</mat-icon>
      </ng-container>
      <ng-template #loading>
        <mat-progress-spinner diameter="24" mode="indeterminate" color="primary" [strokeWidth]="3">
        </mat-progress-spinner>
      </ng-template>
    </button>

    <button mat-icon-button matTooltip="{{ 'STOP' | translate }}" aria-label="Stop VM" (click)="stop()"
      [disabled]="pollingAction === 'stop'">
      <ng-container *ngIf="pollingAction !== 'stop'; else loading">
        <mat-icon>stop</mat-icon>
      </ng-container>
    </button>

    <button mat-icon-button matTooltip="{{ 'SYNC' | translate }}" aria-label="Sync VM" (click)="sync()">
      <mat-icon>sync</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>