<h2>{{ 'RESET_PASSWORD' | translate }}</h2>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'EMAIL' | translate}}</mat-label>
    <input matInput formControlName="email" type="email" autocomplete="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
    <input matInput required [type]="showPassword ? 'text' : 'password'" formControlName="password">
    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!showPassword">
      <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
      {{ 'REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="resetForm.get('password')?.getError('minUniqueChars') as e">
      {{ 'MUST_CONTAIN_8_UNIQUE_CHARACTERS' | translate:{ required: e.required, actual: e.actual } }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
    <input matInput required [type]="showConfirm ? 'text' : 'password'" formControlName="confirm" required>
    <button mat-icon-button matSuffix type="button" (click)="toggleConfirmVisibility()"
    [attr.aria-label]="'Toggle password confirmation visibility'" [attr.aria-pressed]="!showConfirm">
    <mat-icon>{{ showConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="resetForm.get('confirm')?.hasError('mismatch')">
    {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
  </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
    {{ 'RESET_PASSWORD' | translate }}
  </button>

  <button mat-button type="button" (click)="naviageToLogin()" aria-label="naviage to login page">
    {{ 'BACK_TO_LOGIN' | translate }}
  </button>
</form>